<a href="https://colab.research.google.com/github/omnanda04/Om_MetaSciforTechnology/blob/main/Pythonbasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Hello, World!

In [1]:
print("Hello, World!")

Hello, World!

2. Variables and Types

In [2]:
x, y = 10, "Python"

print(f"Value of x: {x} | Type: {type(x)}")
print(f"Value of y: {y} | Type: {type(y)}")

Value of x: 10 | Type: <class 'int'>
Value of y: Python | Type: <class 'str'>

3. Lists

In [3]:

numbers = [10, 20, 30, 40, 50]
total_sum = sum(numbers)
average = total_sum / len(numbers)
print("Sum:", total_sum)
print("Average:", average)

Sum: 150
Average: 30.0

4. Basic Operators

In [4]:
number1 = float(input("Enter the first number: "))
number2 = float(input("Enter the second number: "))
sum_result = number1 + number2
difference = number1 - number2
product = number1 * number2
quotient = number1 / number2 if number2 != 0 else "Undefined (division by zero)"
print(f"Sum: {sum_result}")
print(f"Difference: {difference}")
print(f"Product: {product}")
print(f"Quotient: {quotient}")

Enter the first number: 7
Enter the second number: 8
Sum: 15.0
Difference: -1.0
Product: 56.0
Quotient: 0.875

5. String Formatting

In [16]:
name = "Sam"
age = 25
print("%s is %d years old." % (name, age))

print("{} is {} years old.".format(name, age))

print(f"{name} is {age} years old.")

Sam is 25 years old.
Sam is 25 years old.
Sam is 25 years old.

6. Basic String Operations

In [6]:
text = "Barcelona"
uppercase_text = text.upper()
lowercase_text = text.lower()

vowels = "aeiouAEIOU"
vowel_count = 0
for char in text:
    if char in vowels:
        vowel_count += 1
reversed_text = text[::-1]

print(f"Uppercase: {uppercase_text}")
print(f"Lowercase: {lowercase_text}")
print(f"Number of vowels: {vowel_count}")
print(f"Reversed: {reversed_text}")

Uppercase: BARCELONA
Lowercase: barcelona
Number of vowels: 4
Reversed: anolecraB

7. Conditions

In [7]:
num = int(input("Enter a number: "))

if num % 2 == 0:
    print(f"{num} is an even number.")
else:
    print(f"{num} is an odd number.")

Enter a number: 9
9 is an odd number.

8. Loops

In [8]:
print("Prime numbers between 1 and 50:")
for num in range(1, 51):
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print(num, end=" ")

Prime numbers between 1 and 50:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

9. Functions

In [9]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

num = 5
result = factorial(num)
print(f"The factorial of {num} is {result}")

The factorial of 5 is 120

10. Classes and Objects

In [10]:
class Car:
    def __init__(self, brand, model, year):
        self.brand = brand
        self.model = model
        self.year = year

    def display_info(self):
        print(f"Car Details: {self.year} {self.brand} {self.model}")


my_car = Car("Maserati", "GranTurismo", 2025)

my_car.display_info()

Car Details: 2025 Maserati GranTurismo

11. Dictionaries

In [12]:
students = {"Rohit": 85, "Rohan": 92, "Raj": 78}

print("Student Scores:", students)


highest_score = max(students.values())

print(f"Highest Score: {highest_score}")

Student Scores: {'Rohit': 85, 'Rohan': 92, 'Raj': 78}
Highest Score: 92

12. Modules and Packages

In [17]:
import math

num = int(input("Enter a number:  "))


square_root = math.sqrt(num)
factorial = math.factorial(num)


print(f"Square root of {num} is {square_root}")
print(f"Factorial of {num} is {factorial}")

Enter a number:  7
Square root of 7 is 2.6457513110645907
Factorial of 7 is 5040

13. Input and Output

In [18]:
name = input("Enter your name:  ")
age = input("Enter your age: ")


print(f"Hello {name}, you are {age} years old!")

Enter your name:  bobby
Enter your age: 67
Hello bobby, you are 67 years old!